<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body th:fragment="entry_flagment">

	<!--/* 一覧表示 */-->
	<div th:if="${isSummaryPage == true}" class="summary_entry_container">
		<h3 class="summary_entry_title" f:if="${isAdminPage == false}">
			<a href="/99999" th:href="@{/{id}(id=${entry.id})}" th:text="${entry.title}">title</a>
		</h3>
		<h3 class="summary_entry_title" f:if="${isAdminPage == true}">
			<a href="/99999" th:href="@{/_admin/entries/{id}(id=${entry.id})}" th:text="${entry.title}">title</a>
		</h3>

		<div th:replace="common/entry_meta_flagment :: entry_meta_flagment"></div>

		<div f:if="${isAdminPage == false and entry.commentCount > 0}" class="text-right subinfo cmcount">
			<span data-t="blog.comments">comments</span>
			(<span th:text="${entry.commentCount}">999999</span>)
		</div>
	</div>

	<!--/* 単一表示 */-->
	<div th:if="${isSummaryPage == false}" class="entry_container">
		<h3 class="entry_title">
			<a href="/99999" th:href="@{/{id}(id=${entry.id})}" th:text="${entry.title}">title</a>
		</h3>

		<div th:replace="common/entry_meta_flagment :: entry_meta_flagment"></div>

		<div class="entry_content border_table_container" th:utext="${entry.contentHtml}">entry.contentHtml</div>

		<div th:replace="common/entry_meta_flagment :: entry_meta_flagment"></div>
		
		<div class="social_btn_container" th:if="${#conf.isTestSite() == false}" >
		<ul>
			<li>
				<a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加">
				<img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="30" height="20" style="border: none;" />
				</a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
			</li>
			<li>
				<a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
				<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.async="async";
				j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
			</li>
			<li>
				<a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async="async";js.src=p+'://platform.twitter.com/widgets.js';
				fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</li>
		</ul>
		</div>

		<div style="margin-top: 40px" class="cmcount">
			<span data-t="blog.comments">comments</span>
			(<span th:text="${entry.commentCount}">999999</span>)
		</div>
	</div>
</body>
</html>
