<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template :: headtag">
<meta charset="utf-8" />
</head>
<body>

	<div class="container login_container">

		<div class="login_info" data-t="blog.reg_admin">reg_admin</div>

		<form name="f" th:action="@{/_admin/pub/login}"
		  class="ajaxform form-horizontal validate" method="POST">

			<div class="form-group">
				<label>name</label>
				<input type="text" name="username" class="form-control input_short_text required" minlength="4" />
			</div>

			<div class="form-group">
				<label>password</label>
				<input type="password" name="password" class="form-control input_short_text required" minlength="4" />
			</div>

			<div>
				<input type="submit" class="btn btn-primary" name="post" value="register" />
			</div>
		</form>
	</div>

	<span th:include="common/template :: footerdiv"></span>

	<script>
		afnfblog.ajaxSuccess = function(thisform, data) {
			afnfblog.alert(t("blog.update_ok"), afnfblog.reloadPage);
		};
	</script>

</body>
</html>
